:root {
  --main: {{ style['main'] }}
  --background: {{ style['background'] }}
  --text: {{ style['text'] }}
}

body {
  background-color: var(--background);
  color: var(--color);
  position: relative;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--main);
}